<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BẤT ĐỘNG SẢN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfUmcTDjK5yCsY3yVwR1bGxo9ScN5T17ZIt9phj5mrHgIwGjjMDtnFpn6mySn_j8UTSDY&usqp=CAU" alt="">
        <ul class="main_menu">
        <li><a href="http://" id="l-home">TRANG CHỦ</a></li>
        <li><a href="http://">GIỚI THIỆU</a></li>
        <li><a href="http://">DỰ ÁN</a>
            <ul class="sub_menu">
                <li><a href="">Dự án 1</a></li>
                <li><a href="">Dự án 2</a></li>
                <li><a href="">Dự án 3</a>
                    <ul class="sub_menu1">
                        <li><a href="">Dự án 1</a></li>
                        <li><a href="">Dự án 2</a></li>
                    </ul>
                </li>
                <li><a href="">Dự án 4</a></li>
            </ul>
        </li>
        <li><a href="http://">CẮN HỘ</a></li>
        <li><a href="http://">MẶT BẰNG</a>
            <ul class="sub_menu">
                <li><a href="">Dự án 1</a></li>
                <li><a href="">Dự án 2</a>
                    <ul class="sub_menu1">
                        <li><a href="">Dự án 1</a></li>
                        <li><a href="">Dự án 2</a></li>
                    </ul>
                </li>
                <li><a href="">Dự án 3</a></li>
                <li><a href="">Dự án 4</a></li>
            </ul>
        </li>
        <li><a href="http://">TIN TỨC</a></li>
        <li><a href="http://">LIÊN HỆ</a></li>
        </ul>
        <div class="search">
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><button class="bt_ll">Liên lạc ngay</button></li>
        </div>
    </div>


    <div class="content1">
        <img src="https://inkythuatso.com/uploads/thumbnails/800/2022/04/anh-bia-facebook-anime-nhat-041506181-07-22-54-04.jpg" alt="">
        <div class="inp_contain">
        <ul class="input_box">
            <li class="title">Chọn tỉnh/thành phố</li>
            <li class="inp"><input type="text" placeholder="Chọn tinh/thành phố"></li>
        </ul>
        <ul class="input_box">
            <li class="title">Chọn quận/huyện</li>
            <li class="inp"><input type="text"placeholder="Chọn quận/huyện"></li>
        </ul>
        <ul class="input_box">
            <li class="title">Chọn loạt bất động sản</li>
            <li class="inp"><input type="text" placeholder="Chọn loạt bất động sản"></li>
        </ul>
        <ul class="input_box">
            <li></li>
            <button>Tìm kiếm nhanh</button></ul>
        </div>
    </div>


    <ul class="title_c2">
        <li><img src="https://img.idesign.vn/2019/11/id-logo-trends-13-2.gif" alt="">
        <li>
            <h1>DỰ ÁN NỔI BẬT</h1>
        </li>
        <li>
            <H5>Tổng hợp các dự án bất động sản tại Hà Nội, Đà Nẵng, TP Hồ Chí Minh... và các tỉnh thành khác hot nhất hiện
                tại</H5>
        </li>
    </ul>


    <div class="content2">
        <div>
            <li><img src="https://cafefcdn.com/203337114487263232/2022/9/19/photo-1-16635547408191442938444.jpg" alt=""></li>
            <li>
                <h4>Quận 7-Căn hộ cao cấp nhìn ra sông</h4>
            </li>
            <li>Điểm nổi bật của Q7:</li>
            <li>1/Dự án là khu phức hợp căn hộ tốt nhất Việt Nam</li>
            <li><i class="fa-solid fa-location-dot"></i>Đường Đào Trí P.Phú thuận Q.7</li>
            <li><i class="fa-solid fa-building"></i>Loại BĐS: Căn hộ</li>
            <li><i class="fa-solid fa-house-user"></i>Diện tích: ~80m2</li>
            <div>
                <li>
                    <h4>999 Triệu</h4>
                </li>
                <li><button>Xem chi Tiết</button></li>
            </div>
        </div>
        <div>
            <li><img src="https://cafefcdn.com/203337114487263232/2022/9/19/photo-1-16635547408191442938444.jpg" alt=""></li>
            <li><h4>Quận 7-Căn hộ cao cấp nhìn ra sông</h4></li>
            <li>Điểm nổi bật của Q7:</li>
            <li>1/Dự án là khu phức hợp căn hộ tốt nhất Việt Nam</li>
            <li><i class="fa-solid fa-location-dot"></i>Đường Đào Trí P.Phú thuận Q.7</li>
            <li><i class="fa-solid fa-building"></i>Loại BĐS: Căn hộ</li>
            <li><i class="fa-solid fa-house-user"></i>Diện tích: ~80m2</li>
            <div>
                <li>
                 <h4>999 Triệu</h4>
                </li>
                <li><button>Xem chi Tiết</button></li>
            </div>
        </div>
          <div>
            <li><img src="https://cafefcdn.com/203337114487263232/2022/9/19/photo-1-16635547408191442938444.jpg" alt=""></li>
            <li><h4>Quận 7-Căn hộ cao cấp nhìn ra sông</h4></li>
            <li>Điểm nổi bật của Q7:</li>
            <li>1/Dự án là khu phức hợp căn hộ tốt nhất Việt Nam</li>
            <li><i class="fa-solid fa-location-dot"></i>Đường Đào Trí P.Phú thuận Q.7</li>
            <li><i class="fa-solid fa-building"></i>Loại BĐS: Căn hộ</li>
            <li><i class="fa-solid fa-house-user"></i>Diện tích: ~80m2</li>
            <div>
                <li>
                 <h4>999 Triệu</h4>
                </li>
                <li><button>Xem chi Tiết</button></li>
            </div>
        </div>
    </div>


    <div class="footer">
        <ul class="title_c2">
        <li><h1>Vì sao bạn chọn BDS05</h1></li>
        <li><h5>Chúng tôi chung cấp đầy đủ và chính xác nhất thông tin các dự án bất động sản trên toàn quốc song hành với dịch vụ tư vấn nhanh chóng và hiệu quả nhất</h5></li>
        </ul>
        <div>
            <ul class="f_content">
                <li><i class="fa-solid fa-gear"></i></li>
                <li><h4>Chất lượng tốt nhất</h4></li>
                <li>Nghiên cứu, thiết kế và đầu tư xây dựng với hệ thông dịch vụ chất lượng tốt nhất</li>
            </ul>
            <ul class="f_content">
                <li><i class="fa-solid fa-gear"></i></li>
                <li>
                    <h4>Chất lượng tốt nhất</h4>
                </li>
                <li>Nghiên cứu, thiết kế và đầu tư xây dựng với hệ thông dịch vụ chất lượng tốt nhất</li>
            </ul>
            <ul class="f_content">
                <li><i class="fa-solid fa-gear"></i></li>
                <li>
                    <h4>Chất lượng tốt nhất</h4>
                </li>
                <li>Nghiên cứu, thiết kế và đầu tư xây dựng với hệ thông dịch vụ chất lượng tốt nhất</li>
            </ul>
        </div>
    </div>
</body>
</html>